* {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(5, 3, 3);
}

.airbnb {
  width: 140px;
}

.pics {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.people {
  width: 70%;
  margin: 0 auto;
}

.main-header {
  width: 95%;
  margin: 2rem auto;
}

.h1ex {
  font-size: 2.5rem;
  text-align: center;
}

.text {
  font-size: 1.2rem;
}

.pro1 {
  width: 250px;
  height: 350px;
  border-radius: 10px;
}

.card {
  width: 95%;
  margin: 0 auto;
  font-size: 12px;
}

.card-stats {
  display: flex;
  align-items: center;
}
